---
import Layout from "../../layouts/Layout.astro";

const title = "SSG page : searchAll";
const persons = ["aaa", "bbb", "ccc"];
---

<Layout title={title}>
	<article>
		<h1>{title}</h1>
		<ol>
			{
				persons.map((item, idx) => (
					<li>
						{item} [{idx}]
					</li>
				))
			}
		</ol>
	</article>
</Layout>

<style>
	article {
		margin-left: 2rem;
		background-color: LightGreen;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.3rem;
	}
</style>
