---
import Layout from "../layouts/Layout.astro";
import { backCfg } from "back-config";
---

<Layout title="Welcome to Dedalas">
	<h1>Welcome to Dedalas</h1>
	<p>The static pages of Dedale</p>

	<h2>Documentation</h2>
	<ol>
		<li><a href="/docs/scalability">Software scalability</a></li>
		<li><a href="/docs/apidoc/" rel="external">TypeDoc</a></li>
	</ol>

	<h2>Swagger UI</h2>
	<ol>
		<li>
			<a
				href={`${backCfg.nA_host}:${backCfg.nA_port}/swagger`}
				rel="external">swagger-ui of nA</a
			>
		</li>
		<li>
			<a
				href={`${backCfg.nZ_host}:${backCfg.nZ_port}/swagger`}
				rel="external">swagger-ui of nZ</a
			>
		</li>
	</ol>

	<h2>SSG pages</h2>
	<ol>
		<li><a href="/ssg/pageSearchAll">searchAll</a></li>
		<li><a href="/ssg/pageSearchAll">searchAll2</a></li>
	</ol>
</Layout>
